@model BIKE_SHOWROOM_MANAGEMENT.Models.EmployeeViewModel

@{
    ViewData["Title"] = "DetailsE";
}

<h1>DetailsE</h1>

<div>
    <h4>EmployeeViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdharId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdharId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CTC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CTC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmpId">Edit</a> |
    <a asp-action="EmployeeDetails">Back to List</a>
</div>
